<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" lang='pt-BR'>

<head>
    <meta charset='UTF-8'>
    <title>Cadastro</title>
    <link rel='stylesheet' type="text/css" href='../../static/styles/form-page-style.css' th:href="@{/styles/form-page-style.css}">
    <script src="https://kit.fontawesome.com/55c8d9d80c.js" crossorigin="anonymous"></script>
</head>

<body>
<header>
    <h1>Universidade Equipe Orbitais</h1>
</header>

<section>
    <h2>Formulário para Cadastro de Novo Aluno</h2>

    <article>
        <a th:href="@{/alunos/homepage}"><i class="fas fa-home"></i>Página Inicial</a>

        <form action="#" th:if="${#strings.isEmpty(aluno.idPessoa)}" th:action="@{/alunos/salvar}" th:object="${aluno}" method="post">
            <table>
                <tr class="hidden">
                    <td> <input type="text" th:field="*{ID}"></td>
                    <td> <input type="text" th:field="*{idPessoa}"></td>
                </tr>
                <tr>
                    <td>Matrícula:</td>
                    <td class="input-area"><input type="text" th:required="required" name="matricula" class="matricula" th:field="*{matricula}"></td>
                </tr>
                <tr>
                    <td>CPF:</td>
                    <td class="input-area"><input type="text" th:required="required" class="cpf" th:field="*{cpfPessoa}"></td>
                </tr>
                <tr>
                    <td>Ano de Ingresso:</td>
                    <td class="input-area"><input type="text" th:required="required" class="ano-ingresso" th:field="*{anoEntrada}"></td>
                </tr>
            </table>
            <div class="buttons">
                <button class="confirm" type="submit">Confirmar</button>
                <button class="cancel" type="reset">Cancelar</button>
            </div>
        </form>

        <form action="#" th:unless="${#strings.isEmpty(aluno.idPessoa)}" th:action="@{/alunos/atualizar}" th:object="${aluno}" method="post">
            <table>
                <tr class="hidden">
                    <td> <input type="text" th:field="*{ID}"></td>
                    <td> <input type="text" th:field="*{idPessoa}"></td>
                </tr>
                <tr>
                    <td>Matrícula:</td>
                    <td class="input-area"><input type="text" th:required="required" name="matricula" class="matricula" th:field="*{matricula}"></td>
                </tr>
                <tr>
                    <td>CPF:</td>
                    <td class="input-area"><input type="text" th:required="required" class="cpf" th:field="*{cpfPessoa}"></td>
                </tr>
                <tr>
                    <td>Ano de Ingresso:</td>
                    <td class="input-area"><input type="text" th:required="required" class="ano-ingresso" th:field="*{anoEntrada}"></td>
                </tr>
            </table>
            <div class="buttons">
                <button class="confirm" type="submit">Confirmar</button>
                <button class="cancel" type="reset">Cancelar</button>
            </div>
        </form>

    </article>

</section>
</body>

</html>