body {
    margin: 50px 300px;
    font-family: Calibri, sans-serif;
}

header {
    align-content: center;
    height: 100px;
    background-color: rgb(99, 126, 177);
    border: 1px solid rgb(48, 89, 128);
    box-shadow: 0 1px 0 0 rgba(0, 0, 0, 0.322);
    margin-bottom: 50px;
}

h1 {
    color: white;
    text-align: center;
    margin: 30px 0;
}

section {
    margin: 0 50px;
}

article {
    margin: 25px;
}

a {
    color: black;
    text-decoration: none;
}

table {
    margin-top: 25px;
}

td {
    padding: 7px 25px;
}

.left-column {
    padding-left: 0;
}

.fa-plus-square{
    margin-right: 25px;
}

.fa-edit {
    margin-right: 5px;
}